eStore.BusinessModules/Web References/iAbleClub/IMartPointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckLogin">
        <s:complexType />
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserRecords">
        <s:complexType />
      </s:element>
      <s:element name="GetUserRecordsResponse">
        <s:complexType />
      </s:element>
      <s:element name="eStoreSSOLoginAndCalPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="testing" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eStoreSSOLoginAndCalPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eStoreSSOLoginAndCalPointResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eStorePlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:AblePointOrder" />
            <s:element minOccurs="1" maxOccurs="1" name="testing" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AblePointOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CartID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CartItems" type="tns:ArrayOfAblePointCartItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAblePointCartItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AblePointCartItem" nillable="true" type="tns:AblePointCartItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AblePointCartItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CartID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayPartNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustedPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="eStorePlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eStorePlaceOrderResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eStoreRegistered">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="point" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eStoreRegisteredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eStoreRegisteredResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailForInternal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailForInternalResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMailForSalesAndCorpAfterSAPorderSuccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orders" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMailForSalesAndCorpAfterSAPorderSuccessResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMailForCorpEvery15thEachMonth">
        <s:complexType />
      </s:element>
      <s:element name="SendMailForCorpEvery15thEachMonthResponse">
        <s:complexType />
      </s:element>
      <s:element name="decimal" type="s:decimal" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRecords" />
  </wsdl:message>
  <wsdl:message name="GetUserRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="eStoreSSOLoginAndCalPointSoapIn">
    <wsdl:part name="parameters" element="tns:eStoreSSOLoginAndCalPoint" />
  </wsdl:message>
  <wsdl:message name="eStoreSSOLoginAndCalPointSoapOut">
    <wsdl:part name="parameters" element="tns:eStoreSSOLoginAndCalPointResponse" />
  </wsdl:message>
  <wsdl:message name="eStorePlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:eStorePlaceOrder" />
  </wsdl:message>
  <wsdl:message name="eStorePlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:eStorePlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="eStoreRegisteredSoapIn">
    <wsdl:part name="parameters" element="tns:eStoreRegistered" />
  </wsdl:message>
  <wsdl:message name="eStoreRegisteredSoapOut">
    <wsdl:part name="parameters" element="tns:eStoreRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailForInternalSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailForInternal" />
  </wsdl:message>
  <wsdl:message name="SendMailForInternalSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailForInternalResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailForSalesAndCorpAfterSAPorderSuccessSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailForSalesAndCorpAfterSAPorderSuccess" />
  </wsdl:message>
  <wsdl:message name="SendMailForSalesAndCorpAfterSAPorderSuccessSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailForSalesAndCorpAfterSAPorderSuccessResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailForCorpEvery15thEachMonthSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailForCorpEvery15thEachMonth" />
  </wsdl:message>
  <wsdl:message name="SendMailForCorpEvery15thEachMonthSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailForCorpEvery15thEachMonthResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpGetIn" />
  <wsdl:message name="CheckLoginHttpGetOut" />
  <wsdl:message name="GetUserRecordsHttpGetIn" />
  <wsdl:message name="GetUserRecordsHttpGetOut" />
  <wsdl:message name="eStoreSSOLoginAndCalPointHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="testing" type="s:string" />
  </wsdl:message>
  <wsdl:message name="eStoreSSOLoginAndCalPointHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="eStoreRegisteredHttpGetIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="point" type="s:string" />
  </wsdl:message>
  <wsdl:message name="eStoreRegisteredHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="SendMailForInternalHttpGetIn">
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMailForInternalHttpGetOut" />
  <wsdl:message name="SendMailForCorpEvery15thEachMonthHttpGetIn" />
  <wsdl:message name="SendMailForCorpEvery15thEachMonthHttpGetOut" />
  <wsdl:message name="CheckLoginHttpPostIn" />
  <wsdl:message name="CheckLoginHttpPostOut" />
  <wsdl:message name="GetUserRecordsHttpPostIn" />
  <wsdl:message name="GetUserRecordsHttpPostOut" />
  <wsdl:message name="eStoreSSOLoginAndCalPointHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="testing" type="s:string" />
  </wsdl:message>
  <wsdl:message name="eStoreSSOLoginAndCalPointHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="eStoreRegisteredHttpPostIn">
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="point" type="s:string" />
  </wsdl:message>
  <wsdl:message name="eStoreRegisteredHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="SendMailForInternalHttpPostIn">
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMailForInternalHttpPostOut" />
  <wsdl:message name="SendMailForCorpEvery15thEachMonthHttpPostIn" />
  <wsdl:message name="SendMailForCorpEvery15thEachMonthHttpPostOut" />
  <wsdl:portType name="IMartPointServiceSoap">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <wsdl:input message="tns:GetUserRecordsSoapIn" />
      <wsdl:output message="tns:GetUserRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <wsdl:input message="tns:eStoreSSOLoginAndCalPointSoapIn" />
      <wsdl:output message="tns:eStoreSSOLoginAndCalPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eStorePlaceOrder">
      <wsdl:input message="tns:eStorePlaceOrderSoapIn" />
      <wsdl:output message="tns:eStorePlaceOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <wsdl:input message="tns:eStoreRegisteredSoapIn" />
      <wsdl:output message="tns:eStoreRegisteredSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <wsdl:input message="tns:SendMailForInternalSoapIn" />
      <wsdl:output message="tns:SendMailForInternalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForSalesAndCorpAfterSAPorderSuccess">
      <wsdl:input message="tns:SendMailForSalesAndCorpAfterSAPorderSuccessSoapIn" />
      <wsdl:output message="tns:SendMailForSalesAndCorpAfterSAPorderSuccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <wsdl:input message="tns:SendMailForCorpEvery15thEachMonthSoapIn" />
      <wsdl:output message="tns:SendMailForCorpEvery15thEachMonthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMartPointServiceHttpGet">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginHttpGetIn" />
      <wsdl:output message="tns:CheckLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <wsdl:input message="tns:GetUserRecordsHttpGetIn" />
      <wsdl:output message="tns:GetUserRecordsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <wsdl:input message="tns:eStoreSSOLoginAndCalPointHttpGetIn" />
      <wsdl:output message="tns:eStoreSSOLoginAndCalPointHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <wsdl:input message="tns:eStoreRegisteredHttpGetIn" />
      <wsdl:output message="tns:eStoreRegisteredHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <wsdl:input message="tns:SendMailForInternalHttpGetIn" />
      <wsdl:output message="tns:SendMailForInternalHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <wsdl:input message="tns:SendMailForCorpEvery15thEachMonthHttpGetIn" />
      <wsdl:output message="tns:SendMailForCorpEvery15thEachMonthHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMartPointServiceHttpPost">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginHttpPostIn" />
      <wsdl:output message="tns:CheckLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <wsdl:input message="tns:GetUserRecordsHttpPostIn" />
      <wsdl:output message="tns:GetUserRecordsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <wsdl:input message="tns:eStoreSSOLoginAndCalPointHttpPostIn" />
      <wsdl:output message="tns:eStoreSSOLoginAndCalPointHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <wsdl:input message="tns:eStoreRegisteredHttpPostIn" />
      <wsdl:output message="tns:eStoreRegisteredHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <wsdl:input message="tns:SendMailForInternalHttpPostIn" />
      <wsdl:output message="tns:SendMailForInternalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <wsdl:input message="tns:SendMailForCorpEvery15thEachMonthHttpPostIn" />
      <wsdl:output message="tns:SendMailForCorpEvery15thEachMonthHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMartPointServiceSoap" type="tns:IMartPointServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <soap:operation soapAction="http://tempuri.org/GetUserRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <soap:operation soapAction="http://tempuri.org/eStoreSSOLoginAndCalPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStorePlaceOrder">
      <soap:operation soapAction="http://tempuri.org/eStorePlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <soap:operation soapAction="http://tempuri.org/eStoreRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <soap:operation soapAction="http://tempuri.org/SendMailForInternal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForSalesAndCorpAfterSAPorderSuccess">
      <soap:operation soapAction="http://tempuri.org/SendMailForSalesAndCorpAfterSAPorderSuccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <soap:operation soapAction="http://tempuri.org/SendMailForCorpEvery15thEachMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IMartPointServiceSoap12" type="tns:IMartPointServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <soap12:operation soapAction="http://tempuri.org/GetUserRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <soap12:operation soapAction="http://tempuri.org/eStoreSSOLoginAndCalPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStorePlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/eStorePlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <soap12:operation soapAction="http://tempuri.org/eStoreRegistered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <soap12:operation soapAction="http://tempuri.org/SendMailForInternal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForSalesAndCorpAfterSAPorderSuccess">
      <soap12:operation soapAction="http://tempuri.org/SendMailForSalesAndCorpAfterSAPorderSuccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <soap12:operation soapAction="http://tempuri.org/SendMailForCorpEvery15thEachMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IMartPointServiceHttpGet" type="tns:IMartPointServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckLogin">
      <http:operation location="/CheckLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <http:operation location="/GetUserRecords" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <http:operation location="/eStoreSSOLoginAndCalPoint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <http:operation location="/eStoreRegistered" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <http:operation location="/SendMailForInternal" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <http:operation location="/SendMailForCorpEvery15thEachMonth" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IMartPointServiceHttpPost" type="tns:IMartPointServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckLogin">
      <http:operation location="/CheckLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <http:operation location="/GetUserRecords" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="eStoreSSOLoginAndCalPoint">
      <http:operation location="/eStoreSSOLoginAndCalPoint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eStoreRegistered">
      <http:operation location="/eStoreRegistered" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailForInternal">
      <http:operation location="/SendMailForInternal" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendMailForCorpEvery15thEachMonth">
      <http:operation location="/SendMailForCorpEvery15thEachMonth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMartPointService">
    <wsdl:port name="IMartPointServiceSoap" binding="tns:IMartPointServiceSoap">
      <soap:address location="http://iableclub.advantech.com.tw/Services/IMartPointService.asmx" />
    </wsdl:port>
    <wsdl:port name="IMartPointServiceSoap12" binding="tns:IMartPointServiceSoap12">
      <soap12:address location="http://iableclub.advantech.com.tw/Services/IMartPointService.asmx" />
    </wsdl:port>
    <wsdl:port name="IMartPointServiceHttpGet" binding="tns:IMartPointServiceHttpGet">
      <http:address location="http://iableclub.advantech.com.tw/Services/IMartPointService.asmx" />
    </wsdl:port>
    <wsdl:port name="IMartPointServiceHttpPost" binding="tns:IMartPointServiceHttpPost">
      <http:address location="http://iableclub.advantech.com.tw/Services/IMartPointService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>