eStore.BusinessModules/Web References/USTax/USTaxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getSalesTaxByZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pStrZIP5Digit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pDecSalesTax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSalesTaxByZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getSalesTaxByZIPResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="pDecSalesTax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStateTaxInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pStrStateAbb2Digit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TAX_SHIPPING_ALONE" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Advan_Taxable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStateTaxInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getStateTaxInfoResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="TAX_SHIPPING_ALONE" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Advan_Taxable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZIPInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pStrZIP5Digit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pStrStateAbb2Digit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pStrCountyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pStrCityName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TAX_SHIPPING_ALONE" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Advan_Taxable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZIPInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getZIPInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pStrStateAbb2Digit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pStrCountyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pStrCityName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TAX_SHIPPING_ALONE" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Advan_Taxable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPFP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pParmList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pBolPoduction" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResponse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPFPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getPFPResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResponse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getSalesTaxByZIPSoapIn">
    <wsdl:part name="parameters" element="tns:getSalesTaxByZIP" />
  </wsdl:message>
  <wsdl:message name="getSalesTaxByZIPSoapOut">
    <wsdl:part name="parameters" element="tns:getSalesTaxByZIPResponse" />
  </wsdl:message>
  <wsdl:message name="getStateTaxInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getStateTaxInfo" />
  </wsdl:message>
  <wsdl:message name="getStateTaxInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getStateTaxInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getZIPInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getZIPInfo" />
  </wsdl:message>
  <wsdl:message name="getZIPInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getZIPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getPFPSoapIn">
    <wsdl:part name="parameters" element="tns:getPFP" />
  </wsdl:message>
  <wsdl:message name="getPFPSoapOut">
    <wsdl:part name="parameters" element="tns:getPFPResponse" />
  </wsdl:message>
  <wsdl:portType name="USTaxServiceSoap">
    <wsdl:operation name="getSalesTaxByZIP">
      <wsdl:input message="tns:getSalesTaxByZIPSoapIn" />
      <wsdl:output message="tns:getSalesTaxByZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStateTaxInfo">
      <wsdl:input message="tns:getStateTaxInfoSoapIn" />
      <wsdl:output message="tns:getStateTaxInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getZIPInfo">
      <wsdl:input message="tns:getZIPInfoSoapIn" />
      <wsdl:output message="tns:getZIPInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPFP">
      <wsdl:input message="tns:getPFPSoapIn" />
      <wsdl:output message="tns:getPFPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="USTaxServiceSoap" type="tns:USTaxServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSalesTaxByZIP">
      <soap:operation soapAction="http://tempuri.org/getSalesTaxByZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStateTaxInfo">
      <soap:operation soapAction="http://tempuri.org/getStateTaxInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZIPInfo">
      <soap:operation soapAction="http://tempuri.org/getZIPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPFP">
      <soap:operation soapAction="http://tempuri.org/getPFP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USTaxServiceSoap12" type="tns:USTaxServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSalesTaxByZIP">
      <soap12:operation soapAction="http://tempuri.org/getSalesTaxByZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStateTaxInfo">
      <soap12:operation soapAction="http://tempuri.org/getStateTaxInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZIPInfo">
      <soap12:operation soapAction="http://tempuri.org/getZIPInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPFP">
      <soap12:operation soapAction="http://tempuri.org/getPFP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USTaxService">
    <wsdl:port name="USTaxServiceSoap" binding="tns:USTaxServiceSoap">
      <soap:address location="http://ags.advantech.com/WebService/USTaxService.asmx" />
    </wsdl:port>
    <wsdl:port name="USTaxServiceSoap12" binding="tns:USTaxServiceSoap12">
      <soap12:address location="http://ags.advantech.com/WebService/USTaxService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>