eStore.BusinessModules/Web References/UPSLandedCostWS/LandedCost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ups.com/schema/xpci/1.0/lclocal" xmlns:auth="http://www.ups.com/schema/xpci/1.0/auth" xmlns:error="http://www.ups.com/schema/xpci/1.0/error" xmlns:lc="http://www.ups.com/schema/xpci/1.0/lc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="LandedCost" targetNamespace="http://www.ups.com/schema/xpci/1.0/lclocal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ups.com/schema/xpci/1.0/auth">
      <xsd:element name="AccessRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserId" type="xsd:string" />
            <xsd:element name="Password" type="xsd:string" />
            <xsd:element name="AccessLicenseNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:cust="http://www.ups.com/schema/xpci/1.0/cust-context" elementFormDefault="qualified" targetNamespace="http://www.ups.com/schema/xpci/1.0/cust-context">
      <xsd:element name="CustomerContext">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Id" type="xsd:string" />
            <xsd:element name="Context" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ups.com/schema/xpci/1.0/error">
      <xsd:element name="Errors">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorDetail" type="error:ErrorDetailType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ErrorDetailType">
        <xsd:sequence>
          <xsd:element name="Severity" type="xsd:string" />
          <xsd:element name="PrimaryErrorCode" type="error:CodeType" />
          <xsd:element minOccurs="0" name="MinimumRetrySeconds" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="error:LocationType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubErrorCode" type="error:CodeType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CodeType">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" name="Digest" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LocationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LocationElementName" type="xsd:string" />
          <xsd:element minOccurs="0" name="XPathOfElement" type="xsd:string" />
          <xsd:element minOccurs="0" name="OriginalValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="LandedCostWebServiceSchema.xsd" namespace="http://www.ups.com/schema/xpci/1.0/lc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LCInput">
    <wsdl:part name="Body" element="lc:LandedCostRequest" />
    <wsdl:part name="Auth" element="auth:AccessRequest" />
  </wsdl:message>
  <wsdl:message name="LCOutput">
    <wsdl:part name="Body" element="lc:LandedCostResponse" />
  </wsdl:message>
  <wsdl:message name="Error">
    <wsdl:part name="Body" element="error:Errors" />
  </wsdl:message>
  <wsdl:portType name="LCRequestPortType">
    <wsdl:operation name="LCRequest">
      <wsdl:input name="LCRequest" message="tns:LCInput" />
      <wsdl:output name="LCResponse" message="tns:LCOutput" />
      <wsdl:fault name="Error" message="tns:Error" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LCRequestPortTypeRequestBinding" type="tns:LCRequestPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LCRequest">
      <soap:operation soapAction="http://www.ups.com/webservices/LCRequestBinding" style="document" />
      <wsdl:input name="LCRequest">
        <soap:body use="literal" parts="Body" />
        <soap:header message="tns:LCInput" part="Auth" use="literal">
          <soap:headerfault message="tns:Error" part="Body" use="literal" />
        </soap:header>
      </wsdl:input>
      <wsdl:output name="LCResponse">
        <soap:body use="literal" parts="Body" />
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault use="literal" name="Error" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LC">
    <wsdl:port name="LCRequestPortTypePort" binding="tns:LCRequestPortTypeRequestBinding">
      <soap:address location="https://www.ups.com/webservices/LandedCost" />
      <soap:address location="https://wwwcie.ups.com/webservices/LandedCost" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>