eStore.BusinessModules/Web References/UPSLandedCostWS/LandedCostWebServiceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:lc="http://www.ups.com/schema/xpci/1.0/lc" elementFormDefault="qualified" targetNamespace="http://www.ups.com/schema/xpci/1.0/lc" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LandedCostRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Request" type="lc:RequestTransportType" />
        <xsd:choice>
          <xsd:element name="QueryRequest" type="lc:QueryRequestType" />
          <xsd:element name="EstimateRequest" type="lc:EstimateRequestType" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LandedCostResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Response" type="lc:ResponseTransportType" />
        <xsd:choice>
          <xsd:element name="QueryResponse" type="lc:QueryResponseType" />
          <xsd:element name="EstimateResponse" type="lc:EstimateResponseType" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RequestTransportType">
    <xsd:sequence>
      <xsd:element name="RequestAction" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOption" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryRequestType">
    <xsd:sequence>
      <xsd:element name="Shipment" type="lc:ShipmentType" />
      <xsd:element minOccurs="0" maxOccurs="3" name="TransactionReferenceID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstimateRequestType">
    <xsd:sequence>
      <xsd:element name="Shipment" type="lc:ShipmentAnswerType" />
      <xsd:element name="TransactionDigest" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseTransportType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Warning" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryResponseType">
    <xsd:sequence>
      <xsd:element name="Shipment" type="lc:ShipmentResultType" />
      <xsd:element name="TransactionDigest" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstimateResponseType">
    <xsd:sequence>
      <xsd:element name="TransactionInfo" type="lc:TransactionInfoType" />
      <xsd:element name="ShipmentEstimate" type="lc:ShipmentEstimateType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentType">
    <xsd:sequence>
      <xsd:element name="OriginCountryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="OriginStateProvinceCode" type="xsd:string" />
      <xsd:element name="DestinationCountryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="DestinationStateProvinceCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransportationMode" type="xsd:string" />
      <xsd:element minOccurs="0" name="FreightCharges" type="lc:ChargesType" />
      <xsd:element minOccurs="0" name="AdditionalInsurance" type="lc:ChargesType" />
      <xsd:element maxOccurs="99" name="Product" type="lc:ProductType" />
      <xsd:element minOccurs="0" name="ResultCurrencyCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="TariffCodeAlert" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentResultType">
    <xsd:sequence>
      <xsd:element maxOccurs="99" name="Product" type="lc:ProductResultType" />
      <xsd:element minOccurs="0" maxOccurs="5" name="Question" type="lc:QuestionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentAnswerType">
    <xsd:sequence>
      <xsd:element maxOccurs="99" name="Product" type="lc:ProductAnswerType" />
      <xsd:element minOccurs="0" maxOccurs="5" name="Question" type="lc:AnswerType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentEstimateType">
    <xsd:sequence>
      <xsd:element name="CurrencyCode" type="xsd:string" />
      <xsd:element name="ShipmentCharges" type="lc:ShipmentChargesType" />
      <xsd:element name="ProductsCharges" type="lc:ProductsChargesType" />
      <xsd:element name="TotalLandedCost" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionInfoType">
    <xsd:sequence>
      <xsd:element name="Date" type="xsd:string" />
      <xsd:element name="Time" type="xsd:string" />
      <xsd:element name="TransactionCharge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MonetaryValue" type="xsd:string" />
            <xsd:element name="CurrencyCode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProductName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductCountryCodeOfOrigin" type="xsd:string" />
      <xsd:element name="TariffInfo" type="lc:TariffInfoType" />
      <xsd:element name="Quantity" type="lc:ValueWithUnitsType" />
      <xsd:element name="UnitPrice" type="lc:ChargesType" />
      <xsd:element minOccurs="0" name="Weight" type="lc:ValueWithUnitsType" />
      <xsd:element minOccurs="0" name="TariffCodeAlert" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductResultType">
    <xsd:sequence>
      <xsd:element name="TariffCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="3" name="Question" type="lc:QuestionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductAnswerType">
    <xsd:sequence>
      <xsd:element name="TariffCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="3" name="Question" type="lc:AnswerType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductsChargesType">
    <xsd:sequence>
      <xsd:element maxOccurs="99" name="Product" type="lc:ProductEstimateType" />
      <xsd:element name="ProductsSubTotal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductEstimateType">
    <xsd:sequence>
      <xsd:element name="TariffCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="Charges" type="lc:ProductChargesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TariffInfoType">
    <xsd:sequence>
      <xsd:element name="TariffCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="DetailID" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondaryTariffCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondaryDetailID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValueWithUnitsType">
    <xsd:sequence>
      <xsd:element name="Value" type="xsd:string" />
      <xsd:element minOccurs="0" name="UnitOfMeasure">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UnitCode" type="xsd:string" />
            <xsd:element minOccurs="0" name="UnitDescription" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargesType">
    <xsd:sequence>
      <xsd:element name="MonetaryValue" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QuestionType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Text" type="xsd:string" />
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element minOccurs="0" name="Options">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="99" name="Option" type="lc:KeyValuePairType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyValuePairType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Key" type="xsd:string" />
      <xsd:element minOccurs="0" name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnswerType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" name="Answer" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductChargesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Duties" type="xsd:string" />
      <xsd:element minOccurs="0" name="TaxesAndFees" type="xsd:string" />
      <xsd:element minOccurs="0" name="VAT" type="xsd:string" />
      <xsd:element name="CostOfGoods" type="xsd:string" />
      <xsd:element name="SubTotal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentChargesType">
    <xsd:sequence>
      <xsd:element name="TaxesAndFees" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInsuranceCost" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransportationCost" type="xsd:string" />
      <xsd:element name="SubTotal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>