esPOCOS/Web References/MyDataMining/MyDataMining.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="MyAdvantechWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="MyAdvantechWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="MyAdvantechWS">
      <s:element name="HelloKitty">
        <s:complexType />
      </s:element>
      <s:element name="HelloKittyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloKittyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBasketAnalysis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBasketAnalysisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBasketAnalysisResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloKittySoapIn">
    <wsdl:part name="parameters" element="tns:HelloKitty" />
  </wsdl:message>
  <wsdl:message name="HelloKittySoapOut">
    <wsdl:part name="parameters" element="tns:HelloKittyResponse" />
  </wsdl:message>
  <wsdl:message name="GetBasketAnalysisSoapIn">
    <wsdl:part name="parameters" element="tns:GetBasketAnalysis" />
  </wsdl:message>
  <wsdl:message name="GetBasketAnalysisSoapOut">
    <wsdl:part name="parameters" element="tns:GetBasketAnalysisResponse" />
  </wsdl:message>
  <wsdl:portType name="MyDataMiningSoap">
    <wsdl:operation name="HelloKitty">
      <wsdl:input message="tns:HelloKittySoapIn" />
      <wsdl:output message="tns:HelloKittySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBasketAnalysis">
      <wsdl:input message="tns:GetBasketAnalysisSoapIn" />
      <wsdl:output message="tns:GetBasketAnalysisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyDataMiningSoap" type="tns:MyDataMiningSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloKitty">
      <soap:operation soapAction="MyAdvantechWS/HelloKitty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasketAnalysis">
      <soap:operation soapAction="MyAdvantechWS/GetBasketAnalysis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyDataMiningSoap12" type="tns:MyDataMiningSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloKitty">
      <soap12:operation soapAction="MyAdvantechWS/HelloKitty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasketAnalysis">
      <soap12:operation soapAction="MyAdvantechWS/GetBasketAnalysis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyDataMining">
    <wsdl:port name="MyDataMiningSoap" binding="tns:MyDataMiningSoap">
      <soap:address location="http://my.advantech.com.tw/Services/MyDataMining.asmx" />
    </wsdl:port>
    <wsdl:port name="MyDataMiningSoap12" binding="tns:MyDataMiningSoap12">
      <soap12:address location="http://my.advantech.com.tw/Services/MyDataMining.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>