eStore.BusinessModules/Web References/MyAdvantechBB/BBorderAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBBorder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBBorderResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateSAPOrderFromBBeStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSAPOrderFromBBeStoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="Process">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessResult" type="tns:WebServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetERPIDbyEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetERPIDbyEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetERPIDbyEmailResult" type="tns:BBCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BBCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NetTerm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IncotermText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIncotermTextByERPID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ERPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORGID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncotermTextByERPIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncotermTextByERPIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoMaticallyTransfereStoreOrderToSAP">
        <s:complexType />
      </s:element>
      <s:element name="AutoMaticallyTransfereStoreOrderToSAPResponse">
        <s:complexType />
      </s:element>
      <s:element name="SynceStoreOrderToSAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynceStoreOrderToSAPResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetContactPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactPersonResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBBCreditCardOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dnNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="poNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="org" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="onlyInvoicedOrders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isCaptured" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="rowCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBBCreditCardOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="CaptureBBCreditCardAuthorizedOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectedCapturedItems" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptureBBCreditCardAuthorizedOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="AssociateSiebelSAPAccountContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERPID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateSiebelSAPAccountContactResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebServiceResult" nillable="true" type="tns:WebServiceResult" />
      <s:element name="BBCustomer" nillable="true" type="tns:BBCustomer" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBBorderSoapIn">
    <wsdl:part name="parameters" element="tns:GetBBorder" />
  </wsdl:message>
  <wsdl:message name="GetBBorderSoapOut">
    <wsdl:part name="parameters" element="tns:GetBBorderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSAPOrderFromBBeStoreSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSAPOrderFromBBeStore" />
  </wsdl:message>
  <wsdl:message name="CreateSAPOrderFromBBeStoreSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSAPOrderFromBBeStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessSoapIn">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="ProcessSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="GetERPIDbyEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetERPIDbyEmail" />
  </wsdl:message>
  <wsdl:message name="GetERPIDbyEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetERPIDbyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncotermTextByERPIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncotermTextByERPID" />
  </wsdl:message>
  <wsdl:message name="GetIncotermTextByERPIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncotermTextByERPIDResponse" />
  </wsdl:message>
  <wsdl:message name="AutoMaticallyTransfereStoreOrderToSAPSoapIn">
    <wsdl:part name="parameters" element="tns:AutoMaticallyTransfereStoreOrderToSAP" />
  </wsdl:message>
  <wsdl:message name="AutoMaticallyTransfereStoreOrderToSAPSoapOut">
    <wsdl:part name="parameters" element="tns:AutoMaticallyTransfereStoreOrderToSAPResponse" />
  </wsdl:message>
  <wsdl:message name="SynceStoreOrderToSAPSoapIn">
    <wsdl:part name="parameters" element="tns:SynceStoreOrderToSAP" />
  </wsdl:message>
  <wsdl:message name="SynceStoreOrderToSAPSoapOut">
    <wsdl:part name="parameters" element="tns:SynceStoreOrderToSAPResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactPersonSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactPerson" />
  </wsdl:message>
  <wsdl:message name="GetContactPersonSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetBBCreditCardOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetBBCreditCardOrder" />
  </wsdl:message>
  <wsdl:message name="GetBBCreditCardOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetBBCreditCardOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CaptureBBCreditCardAuthorizedOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CaptureBBCreditCardAuthorizedOrder" />
  </wsdl:message>
  <wsdl:message name="CaptureBBCreditCardAuthorizedOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CaptureBBCreditCardAuthorizedOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AssociateSiebelSAPAccountContactSoapIn">
    <wsdl:part name="parameters" element="tns:AssociateSiebelSAPAccountContact" />
  </wsdl:message>
  <wsdl:message name="AssociateSiebelSAPAccountContactSoapOut">
    <wsdl:part name="parameters" element="tns:AssociateSiebelSAPAccountContactResponse" />
  </wsdl:message>
  <wsdl:message name="GetBBorderHttpGetIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="OrderNo" type="s:string" />
    <wsdl:part name="OrderStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBBorderHttpGetOut" />
  <wsdl:message name="CreateSAPOrderFromBBeStoreHttpGetIn">
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateSAPOrderFromBBeStoreHttpGetOut" />
  <wsdl:message name="ProcessHttpGetIn">
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessHttpGetOut">
    <wsdl:part name="Body" element="tns:WebServiceResult" />
  </wsdl:message>
  <wsdl:message name="GetERPIDbyEmailHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetERPIDbyEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:BBCustomer" />
  </wsdl:message>
  <wsdl:message name="GetIncotermTextByERPIDHttpGetIn">
    <wsdl:part name="ERPID" type="s:string" />
    <wsdl:part name="ORGID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIncotermTextByERPIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AutoMaticallyTransfereStoreOrderToSAPHttpGetIn" />
  <wsdl:message name="AutoMaticallyTransfereStoreOrderToSAPHttpGetOut" />
  <wsdl:message name="SynceStoreOrderToSAPHttpGetIn">
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SynceStoreOrderToSAPHttpGetOut" />
  <wsdl:message name="GetContactPersonHttpGetIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="ERPID" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactPersonHttpGetOut" />
  <wsdl:message name="GetBBCreditCardOrderHttpGetIn">
    <wsdl:part name="invNo" type="s:string" />
    <wsdl:part name="soNo" type="s:string" />
    <wsdl:part name="dnNo" type="s:string" />
    <wsdl:part name="poNo" type="s:string" />
    <wsdl:part name="org" type="s:string" />
    <wsdl:part name="dateFrom" type="s:string" />
    <wsdl:part name="dateTo" type="s:string" />
    <wsdl:part name="onlyInvoicedOrders" type="s:string" />
    <wsdl:part name="isCaptured" type="s:string" />
    <wsdl:part name="rowCount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBBCreditCardOrderHttpGetOut" />
  <wsdl:message name="CaptureBBCreditCardAuthorizedOrderHttpGetIn">
    <wsdl:part name="selectedCapturedItems" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CaptureBBCreditCardAuthorizedOrderHttpGetOut" />
  <wsdl:message name="AssociateSiebelSAPAccountContactHttpGetIn">
    <wsdl:part name="OrderNo" type="s:string" />
    <wsdl:part name="ERPID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AssociateSiebelSAPAccountContactHttpGetOut" />
  <wsdl:message name="GetBBorderHttpPostIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="OrderNo" type="s:string" />
    <wsdl:part name="OrderStatus" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBBorderHttpPostOut" />
  <wsdl:message name="CreateSAPOrderFromBBeStoreHttpPostIn">
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateSAPOrderFromBBeStoreHttpPostOut" />
  <wsdl:message name="ProcessHttpPostIn">
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessHttpPostOut">
    <wsdl:part name="Body" element="tns:WebServiceResult" />
  </wsdl:message>
  <wsdl:message name="GetERPIDbyEmailHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetERPIDbyEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:BBCustomer" />
  </wsdl:message>
  <wsdl:message name="GetIncotermTextByERPIDHttpPostIn">
    <wsdl:part name="ERPID" type="s:string" />
    <wsdl:part name="ORGID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIncotermTextByERPIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AutoMaticallyTransfereStoreOrderToSAPHttpPostIn" />
  <wsdl:message name="AutoMaticallyTransfereStoreOrderToSAPHttpPostOut" />
  <wsdl:message name="SynceStoreOrderToSAPHttpPostIn">
    <wsdl:part name="OrderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SynceStoreOrderToSAPHttpPostOut" />
  <wsdl:message name="GetContactPersonHttpPostIn">
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="ERPID" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContactPersonHttpPostOut" />
  <wsdl:message name="GetBBCreditCardOrderHttpPostIn">
    <wsdl:part name="invNo" type="s:string" />
    <wsdl:part name="soNo" type="s:string" />
    <wsdl:part name="dnNo" type="s:string" />
    <wsdl:part name="poNo" type="s:string" />
    <wsdl:part name="org" type="s:string" />
    <wsdl:part name="dateFrom" type="s:string" />
    <wsdl:part name="dateTo" type="s:string" />
    <wsdl:part name="onlyInvoicedOrders" type="s:string" />
    <wsdl:part name="isCaptured" type="s:string" />
    <wsdl:part name="rowCount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBBCreditCardOrderHttpPostOut" />
  <wsdl:message name="CaptureBBCreditCardAuthorizedOrderHttpPostIn">
    <wsdl:part name="selectedCapturedItems" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CaptureBBCreditCardAuthorizedOrderHttpPostOut" />
  <wsdl:message name="AssociateSiebelSAPAccountContactHttpPostIn">
    <wsdl:part name="OrderNo" type="s:string" />
    <wsdl:part name="ERPID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AssociateSiebelSAPAccountContactHttpPostOut" />
  <wsdl:portType name="BBorderAPISoap">
    <wsdl:operation name="GetBBorder">
      <wsdl:input message="tns:GetBBorderSoapIn" />
      <wsdl:output message="tns:GetBBorderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <wsdl:input message="tns:CreateSAPOrderFromBBeStoreSoapIn" />
      <wsdl:output message="tns:CreateSAPOrderFromBBeStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Process">
      <wsdl:input message="tns:ProcessSoapIn" />
      <wsdl:output message="tns:ProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <wsdl:input message="tns:GetERPIDbyEmailSoapIn" />
      <wsdl:output message="tns:GetERPIDbyEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <wsdl:input message="tns:GetIncotermTextByERPIDSoapIn" />
      <wsdl:output message="tns:GetIncotermTextByERPIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <wsdl:input message="tns:AutoMaticallyTransfereStoreOrderToSAPSoapIn" />
      <wsdl:output message="tns:AutoMaticallyTransfereStoreOrderToSAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <wsdl:input message="tns:SynceStoreOrderToSAPSoapIn" />
      <wsdl:output message="tns:SynceStoreOrderToSAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <wsdl:input message="tns:GetContactPersonSoapIn" />
      <wsdl:output message="tns:GetContactPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <wsdl:input message="tns:GetBBCreditCardOrderSoapIn" />
      <wsdl:output message="tns:GetBBCreditCardOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <wsdl:input message="tns:CaptureBBCreditCardAuthorizedOrderSoapIn" />
      <wsdl:output message="tns:CaptureBBCreditCardAuthorizedOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <wsdl:input message="tns:AssociateSiebelSAPAccountContactSoapIn" />
      <wsdl:output message="tns:AssociateSiebelSAPAccountContactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BBorderAPIHttpGet">
    <wsdl:operation name="GetBBorder">
      <wsdl:input message="tns:GetBBorderHttpGetIn" />
      <wsdl:output message="tns:GetBBorderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <wsdl:input message="tns:CreateSAPOrderFromBBeStoreHttpGetIn" />
      <wsdl:output message="tns:CreateSAPOrderFromBBeStoreHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Process">
      <wsdl:input message="tns:ProcessHttpGetIn" />
      <wsdl:output message="tns:ProcessHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <wsdl:input message="tns:GetERPIDbyEmailHttpGetIn" />
      <wsdl:output message="tns:GetERPIDbyEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <wsdl:input message="tns:GetIncotermTextByERPIDHttpGetIn" />
      <wsdl:output message="tns:GetIncotermTextByERPIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <wsdl:input message="tns:AutoMaticallyTransfereStoreOrderToSAPHttpGetIn" />
      <wsdl:output message="tns:AutoMaticallyTransfereStoreOrderToSAPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <wsdl:input message="tns:SynceStoreOrderToSAPHttpGetIn" />
      <wsdl:output message="tns:SynceStoreOrderToSAPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <wsdl:input message="tns:GetContactPersonHttpGetIn" />
      <wsdl:output message="tns:GetContactPersonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <wsdl:input message="tns:GetBBCreditCardOrderHttpGetIn" />
      <wsdl:output message="tns:GetBBCreditCardOrderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <wsdl:input message="tns:CaptureBBCreditCardAuthorizedOrderHttpGetIn" />
      <wsdl:output message="tns:CaptureBBCreditCardAuthorizedOrderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <wsdl:input message="tns:AssociateSiebelSAPAccountContactHttpGetIn" />
      <wsdl:output message="tns:AssociateSiebelSAPAccountContactHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BBorderAPIHttpPost">
    <wsdl:operation name="GetBBorder">
      <wsdl:input message="tns:GetBBorderHttpPostIn" />
      <wsdl:output message="tns:GetBBorderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <wsdl:input message="tns:CreateSAPOrderFromBBeStoreHttpPostIn" />
      <wsdl:output message="tns:CreateSAPOrderFromBBeStoreHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Process">
      <wsdl:input message="tns:ProcessHttpPostIn" />
      <wsdl:output message="tns:ProcessHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <wsdl:input message="tns:GetERPIDbyEmailHttpPostIn" />
      <wsdl:output message="tns:GetERPIDbyEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <wsdl:input message="tns:GetIncotermTextByERPIDHttpPostIn" />
      <wsdl:output message="tns:GetIncotermTextByERPIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <wsdl:input message="tns:AutoMaticallyTransfereStoreOrderToSAPHttpPostIn" />
      <wsdl:output message="tns:AutoMaticallyTransfereStoreOrderToSAPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <wsdl:input message="tns:SynceStoreOrderToSAPHttpPostIn" />
      <wsdl:output message="tns:SynceStoreOrderToSAPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <wsdl:input message="tns:GetContactPersonHttpPostIn" />
      <wsdl:output message="tns:GetContactPersonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <wsdl:input message="tns:GetBBCreditCardOrderHttpPostIn" />
      <wsdl:output message="tns:GetBBCreditCardOrderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <wsdl:input message="tns:CaptureBBCreditCardAuthorizedOrderHttpPostIn" />
      <wsdl:output message="tns:CaptureBBCreditCardAuthorizedOrderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <wsdl:input message="tns:AssociateSiebelSAPAccountContactHttpPostIn" />
      <wsdl:output message="tns:AssociateSiebelSAPAccountContactHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BBorderAPISoap" type="tns:BBorderAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBBorder">
      <soap:operation soapAction="http://tempuri.org/GetBBorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <soap:operation soapAction="http://tempuri.org/CreateSAPOrderFromBBeStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://tempuri.org/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <soap:operation soapAction="http://tempuri.org/GetERPIDbyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <soap:operation soapAction="http://tempuri.org/GetIncotermTextByERPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <soap:operation soapAction="http://tempuri.org/AutoMaticallyTransfereStoreOrderToSAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <soap:operation soapAction="http://tempuri.org/SynceStoreOrderToSAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <soap:operation soapAction="http://tempuri.org/GetContactPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <soap:operation soapAction="http://tempuri.org/GetBBCreditCardOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <soap:operation soapAction="http://tempuri.org/CaptureBBCreditCardAuthorizedOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <soap:operation soapAction="http://tempuri.org/AssociateSiebelSAPAccountContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BBorderAPISoap12" type="tns:BBorderAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBBorder">
      <soap12:operation soapAction="http://tempuri.org/GetBBorder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <soap12:operation soapAction="http://tempuri.org/CreateSAPOrderFromBBeStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process">
      <soap12:operation soapAction="http://tempuri.org/Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <soap12:operation soapAction="http://tempuri.org/GetERPIDbyEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <soap12:operation soapAction="http://tempuri.org/GetIncotermTextByERPID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <soap12:operation soapAction="http://tempuri.org/AutoMaticallyTransfereStoreOrderToSAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <soap12:operation soapAction="http://tempuri.org/SynceStoreOrderToSAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <soap12:operation soapAction="http://tempuri.org/GetContactPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <soap12:operation soapAction="http://tempuri.org/GetBBCreditCardOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <soap12:operation soapAction="http://tempuri.org/CaptureBBCreditCardAuthorizedOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <soap12:operation soapAction="http://tempuri.org/AssociateSiebelSAPAccountContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BBorderAPIHttpGet" type="tns:BBorderAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBBorder">
      <http:operation location="/GetBBorder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <http:operation location="/CreateSAPOrderFromBBeStore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Process">
      <http:operation location="/Process" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <http:operation location="/GetERPIDbyEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <http:operation location="/GetIncotermTextByERPID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <http:operation location="/AutoMaticallyTransfereStoreOrderToSAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <http:operation location="/SynceStoreOrderToSAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <http:operation location="/GetContactPerson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <http:operation location="/GetBBCreditCardOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <http:operation location="/CaptureBBCreditCardAuthorizedOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <http:operation location="/AssociateSiebelSAPAccountContact" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BBorderAPIHttpPost" type="tns:BBorderAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBBorder">
      <http:operation location="/GetBBorder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CreateSAPOrderFromBBeStore">
      <http:operation location="/CreateSAPOrderFromBBeStore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Process">
      <http:operation location="/Process" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetERPIDbyEmail">
      <http:operation location="/GetERPIDbyEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncotermTextByERPID">
      <http:operation location="/GetIncotermTextByERPID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoMaticallyTransfereStoreOrderToSAP">
      <http:operation location="/AutoMaticallyTransfereStoreOrderToSAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SynceStoreOrderToSAP">
      <http:operation location="/SynceStoreOrderToSAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetContactPerson">
      <http:operation location="/GetContactPerson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBBCreditCardOrder">
      <http:operation location="/GetBBCreditCardOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CaptureBBCreditCardAuthorizedOrder">
      <http:operation location="/CaptureBBCreditCardAuthorizedOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AssociateSiebelSAPAccountContact">
      <http:operation location="/AssociateSiebelSAPAccountContact" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BBorderAPI">
    <wsdl:port name="BBorderAPISoap" binding="tns:BBorderAPISoap">
      <soap:address location="http://my.advantech.com:4002/Services/BBorderAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="BBorderAPISoap12" binding="tns:BBorderAPISoap12">
      <soap12:address location="http://my.advantech.com:4002/Services/BBorderAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="BBorderAPIHttpGet" binding="tns:BBorderAPIHttpGet">
      <http:address location="http://my.advantech.com:4002/Services/BBorderAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="BBorderAPIHttpPost" binding="tns:BBorderAPIHttpPost">
      <http:address location="http://my.advantech.com:4002/Services/BBorderAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>